
.icon-mail-1:before { content: '\e800'; } /* '' */
.icon-logout-1:before { content: '\e801'; } /* '' */
.icon-delete:before { content: '\e802'; } /* '' */
.icon-pen:before { content: '\e803'; } /* '' */
.icon-edit:before { content: '\e804'; } /* '' */
.icon-vote:before { content: '\e805'; } /* '' */
.icon-lock:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-send:before { content: '\e808'; } /* '' */
.icon-calendar:before { content: '\e809'; } /* '' */
.icon-less:before { content: '\e80b'; } /* '' */
.icon-flag:before { content: '\e80d'; } /* '' */
.icon-meeting:before { content: '\e80e'; } /* '' */
.icon-url:before { content: '\e80f'; } /* '' */
.icon-cancel:before { content: '\e812'; } /* '' */
.icon-add:before { content: '\e814'; } /* '' */
.icon-megaphone:before { content: '\e818'; } /* '' */
.icon-check:before { content: '\e819'; } /* '' */
.icon-copy:before { content: '\e820'; } /* '' */
.icon-point:before { content: '\e899'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */