//- index.pug
extends ./include/admin-layout.pug
block page-css
    link(rel='stylesheet' type='text/css' href='styles/plugins/pagination.min.css')
    link(rel='stylesheet' type='text/css' href='styles/admin.css')
block plugins-css
    link(rel='stylesheet' type='text/css' href='styles/plugins/jquery-ui.min.css')
    link(rel='stylesheet' type='text/css' href='styles/plugins/jquery-ui-timepicker-addon.css')
block plugins-js
    script(src='scripts/plugins/jquery-ui.min.js')
    script(src='scripts/plugins/jquery-ui-timepicker-addon.js')
    script.
        $('.datetime-input').datetimepicker({
            "dateFormat": "yy-mm-dd",
            "timeFormat": "HH:mm"
        });
        $('.date-input').datepicker({
            "dateFormat": "yy-mm-dd"
        });
        
block content
    .top-bar.d-none.justify-content-between.align-items-center.d-xl-flex
        span 促進海外台商企業發展，會員交流，提昇台商社會地位
        .admin-user.d-inline-flex.align-items-center
            .pic
                img(src="styles/images/user.png", alt="" width='40px')
            span.ml-2 admin
            i.icon-angle-down
        .admin-user-menu
            button.logout-btn
                i.icon-logout-1
                span.ml-2 登出
    main#admin-vote.admin-wrapper.pa-5
        .container-fluid
            .d-flex.align-items-center.justify-content-between.mb-3.px-2
                .admin-page-title.d-flex.align-items-center
                    .icon.t-blue-dp
                        i.icon-flag
                    h2.t-blue-dp.h5.mb-0 會議管理
                .d-flex.align-items-center.mt-3.mt-lg-0
                    button.btn.btn-primary(type='button' data-toggle='modal' data-target='#addModalCenter' style='width: 140px;') 建立會議
            .card.border.mb-4
                .card-body(style='min-height:80vh;')
                    #dataTable_wrapper.dataTables_wrapper.h-100.d-flex.flex-column.justify-content-between
                        div
                            .row.my-3
                                .col-sm-12.col-md-6.my-1.my-lg-0
                                    #dataTable_length.dataTables_length
                                        label.d-inline-flex.align-items-center.mb-0
                                            div(style='width:80px;') 顯示 
                                            select.custom-select.custom-select-sm.form-control.form-control-sm.mx-2(name='dataTable_length' aria-controls='dataTable')
                                                option(value='10') 10
                                                option(value='25') 25
                                                option(value='50') 50
                                                option(value='100') 100
                                            | 筆
                                .col-sm-12.col-md-6.text-lg-right.my-1.my-lg-0
                                    #dataTable_filter.dataTables_filter
                                        label.d-inline-flex.align-items-center.mb-0
                                            div(style='width:50px;') 搜尋
                                            input.form-control.form-control-sm.mx-2(type='search' placeholder='' aria-controls='dataTable')
                            .table-responsive
                                .row
                                    .col-sm-12
                                        table#dataTable.table.table-bordered.dataTable(width='100%' cellspacing='0' role='grid' aria-describedby='dataTable_info' style='width: 100%;')
                                            thead
                                                tr
                                                    th(style='min-width:84px;') 會議編號
                                                    th(style='width:40%;min-width:280px;') 會議名稱
                                                    th(style='min-width:84px;') 會議年度
                                                    th(style='min-width:200px;') 會議期間
                                                    th(style='min-width:200px;') 主辦單位
                                                    th(style='min-width:100px;') 建立日期
                                                    th.text-center(style='min-width:90px;') 開放報名
                                                    th.text-center(style='min-width:120px;') 執行
                                            tbody
                                                tr
                                                    td 0272
                                                    td 第二十七屆第二次理事聯席會議
                                                    td 110
                                                    td 2020/02/01 - 02/01
                                                    td 世界台灣商會聯合總會
                                                    td 2020/02/01
                                                    td.text-center
                                                        .form-check.form-check-inline.px-0.py-0.mx-0
                                                            input.form-check-input.mr-0(type='checkbox' name='open')
                                                    td.text-center
                                                        button.iconBtn(type='button' data-toggle='modal' data-target='#detailModalCenter' data-tooltip='tooltip' data-placement='bottom' title='細節')
                                                            i.icon-doc-text-inv
                                                        button.iconBtn(type='button' data-toggle='modal' data-target='#deleteModalCenter' data-tooltip='tooltip' data-placement='bottom' title='刪除')
                                                            i.icon-delete
                        .row.align-items-center
                            .col-sm-12.col-md-2.mb-3.mb-lg-0
                                #dataTable_info.dataTables_info(role='status' aria-live='polite') 顯示 1 到 12 筆   共 57筆
                            .col-sm-12.col-md-8
                                #dataTable_paginate.dataTables_paginate.paging_simple_numbers
                                    ul#vote-pagination.pagination
    #detailModalCenter.meeting-dialog.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addModalCenterTitle' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    .row.align-items-center.w-100
                        .col-3
                            .admin-page-title.d-flex.align-items-center
                                .icon.t-blue-dp
                                    i.icon-doc-text-inv
                                .t-blue-dp.h5.mb-0 會議細節
                        .col-7.d-flex.align-items-center.justify-content-center
                            ul.meeting-detail-nav.cutover.nav
                                li.nav-item.active
                                    a(href='#info') 資訊
                                li.nav-item
                                    a(href='#price') 費用
                                li.nav-item
                                    a(href='#air') 班機
                                li.nav-item
                                    a(href='#booking') 訂房
                                li.nav-item
                                    a(href='#food') 餐宴
                                li.nav-item
                                    a(href='#travel') 行程
                                li.nav-item
                                    a(href='#self') 自費
                                li.nav-item
                                    a(href='#note') 備註
                        .col-2.d-flex.align-items-center.justify-content-end
                            button.close.ml-1(type='button' data-dismiss='modal' aria-label='Close')
                                span(aria-hidden='true') ×
                form#edit-detail
                    .modal-body.px-4.py-0
                        #info.cutover-in.show
                            .row.align-items-center.my-3
                                .col-sm-12.col-md-3
                                    label.d-flex.align-items-center.mb-0
                                        div(style='flex:0 0 80px;') 會議編號
                                        input.form-control.w-100(type='text' inputmode='numeric' )
                                .col-sm-12.col-md-3
                                    label.d-flex.align-items-center.mb-0
                                        div(style='flex:0 0 80px;') 類別
                                        select.custom-select.custom-select-sm.form-control.form-control-sm(name='' aria-controls='' )
                                            option(value='0')  
                                .col-sm-12.col-md-4
                                    label.d-flex.align-items-center.mb-0
                                        div(style='flex:0 0 80px;') 會議年度
                                        input.form-control.w-100(type='text' inputmode='numeric' )
                                .col-sm-12.col-md-2
                                    label.d-flex.align-items-center.mb-0
                                        div(style='flex:0 0 80px;') 屆別
                                        input.form-control.w-100(type='text' inputmode='numeric' )
                            .row.align-items-center.my-3
                                .col-sm-12.col-md-6
                                    label.d-flex.align-items-center.mb-0
                                        div(style='flex:0 0 80px;') 會議名稱
                                        input.form-control.w-100(type='text' inputmode='search' )
                                .col-sm-12.col-md-4
                                    label.d-flex.align-items-center.mb-0
                                        div(style='flex:0 0 80px;') 期間
                                        .form-row.align-items-center
                                            .col
                                                input.form-control.date-input(type='text' )
                                            span.mx-1 至
                                            .col
                                                input.form-control.date-input(type='text' )
                                .col-sm-12.col-md-2
                                    label.d-flex.align-items-center.mb-0
                                        div(style='flex:0 0 80px;') 總人數
                                        input.form-control.w-100(type='text' inputmode='numeric' )
                            .row.align-items-center.my-3
                                .col-sm-12.col-md-3
                                    label.d-flex.align-items-center.mb-0
                                        div(style='flex:0 0 80px;') 會議地點
                                        input.form-control.w-100(type='text' inputmode='search' )
                                .col-sm-12.col-md-5
                                    label.d-flex.align-items-center.mb-0
                                        div(style='flex:0 0 80px;') 會議地址
                                        input.form-control.w-100(type='text' inputmode='search' )
                                .col-sm-12.col-md-3
                                    label.d-flex.align-items-center.mb-0
                                        div(style='flex:0 0 80px;') 建檔日期
                                        input.form-control.w-100(type='text' inputmode='numeric' )
                            .row.my-3
                                .col-sm-12
                                    label.d-flex.mb-0
                                        div(style='flex:0 0 80px;') 會議內容
                                        textarea.form-control.w-100(style='height:100px;')
                            .row.align-items-center.my-3
                                .col-sm-12.col-md-6
                                    label.d-flex.align-items-center.mb-0
                                        div(style='flex:0 0 80px;') 主辦單位
                                        input.form-control.w-100(type='text' inputmode='search' )
                                .col-sm-12.col-md-6
                                    label.d-flex.align-items-center.mb-0
                                        div(style='flex:0 0 80px;') 協辦單位
                                        input.form-control.w-100(type='text' inputmode='search' )
                            .row.align-items-center.my-3
                                .col-sm-12.col-md-3
                                    label.d-flex.align-items-center.mb-0
                                        div(style='flex:0 0 100px;') 會議聯絡人
                                        input.form-control.w-100(type='text' inputmode='search' )
                                .col-sm-12.col-md-3
                                    label.d-flex.align-items-center.mb-0
                                        div(style='flex:0 0 80px;') 電話
                                        input.form-control.w-100(type='tel' inputmode='tel' )
                                .col-sm-12.col-md-3
                                    label.d-flex.align-items-center.mb-0
                                        div(style='flex:0 0 80px;') 傳真
                                        input.form-control.w-100(type='tel' inputmode='tel' )
                                .col-sm-12.col-md-3
                                    label.d-flex.align-items-center.mb-0
                                        div(style='flex:0 0 80px;') 電子郵件
                                        input.form-control.w-100(type='email' inputmode='email' )
                        #price.cutover-in
                            table.table.table-bordered.dataTable.mt-3(width='100%' cellspacing='0' role='grid' aria-describedby='dataTable_info' style='width: 100%;')
                                thead
                                    tr
                                        th(style='width:80px;') 項次
                                        th(style='width:120px') 科目代號
                                        th(style='width:180px') 科目名稱
                                        th(style='width:120px') 會員類別
                                        th(style='width:120px') 本人金額
                                        th(style='width:120px') 直系眷屬
                                        th(style='width:120px') 非直系眷屬
                                        th(style='width:60px;') 序
                                tbody
                                    tr
                                        td
                                            input.form-control.w-100(type='text' inputmode='numeric'  value='1.0')
                                        td
                                            input.form-control.w-100(type='text' value='01' )
                                        td
                                            input.form-control.w-100(type='text' value='個人出席費' )
                                        td
                                            select.custom-select.custom-select-sm.form-control.form-control-sm(name='' aria-controls='')
                                                option(value='0' selected='selected') 名譽總會長
                                                option(value='1') 名譽監事長
                                                option(value='2') 總會長
                                                option(value='3') 監事長
                                                option(value='4') 副總會長
                                                option(value='5') 副監事長
                                                option(value='6') 諮詢委員
                                                option(value='7') 資深顧問
                                                option(value='8') 顧問
                                                option(value='9') 理監事
                                                option(value='10') 會員
                                        td
                                            input.form-control.w-100(type='text' value='1,000')
                                        td
                                            input.form-control.w-100(type='text' value='0')
                                        td
                                            input.form-control.w-100(type='text' value='0')
                                        td
                                            input.form-control.w-100(type='text' value='2')
                            .row.my-3
                                .col-sm-12
                                    label.d-flex.mb-0
                                        div(style='flex:0 0 80px;') 費用說明
                                        textarea.form-control.w-100(style='min-height:100px;')
                        #air.cutover-in
                            .row.my-3
                                .col-sm-12
                                    .form-check.form-check-inline
                                        input#air-car.form-check-input(type='checkbox' value='air' name='air')
                                        label.form-check-label(for='air-car') 無需接送班機
                        #booking.cutover-in
                            table.table.table-bordered.dataTable.mt-3(width='100%' cellspacing='0' role='grid' aria-describedby='dataTable_info' style='width: 100%;')
                                thead
                                    tr
                                        th(style='width:80px;') 項次
                                        th(style='width:240px') 飯店名稱
                                        th(style='width:240px') 房型
                                        th(style='width:180px') 價格
                                        th 備註
                                        th(style='width:120px') 飯店連結
                                        th(style='width:60px;') 序
                                tbody
                                    tr
                                        td
                                            input.form-control.w-100(type='text' inputmode='numeric' value='1.0')
                                        td
                                            input.form-control.w-100(type='text' value='台北圓山飯店')
                                        td
                                            input.form-control.w-100(type='text' value='個人出席費')
                                        td
                                            select.custom-select.custom-select-sm.form-control.form-control-sm(name='' aria-controls='')
                                                option(value='0' selected='selected') 名譽總會長
                                                option(value='1') 名譽監事長
                                                option(value='2') 總會長
                                                option(value='3') 監事長
                                                option(value='4') 副總會長
                                                option(value='5') 副監事長
                                                option(value='6') 諮詢委員
                                                option(value='7') 資深顧問
                                                option(value='8') 顧問
                                                option(value='9') 理監事
                                                option(value='10') 會員
                                        td
                                            input.form-control.w-100(type='text' value='1,000')
                                        td.text-center
                                            input.form-control.w-100(type='text' value='0')
                                        td
                                            input.form-control.w-100(type='text' value='0')
                            .row.my-3
                                .col-sm-12
                                    label.d-flex.mb-0
                                        div(style='flex:0 0 80px;') 訂房備註
                                        textarea.form-control.w-100(style='min-height:100px;')
                        #food.cutover-in
                            table.table.table-bordered.dataTable.mt-3(width='100%' cellspacing='0' role='grid' aria-describedby='dataTable_info' style='width: 100%;')
                                thead
                                    tr
                                        th(style='width:80px;') 項次
                                        th(style='width:140px') 日期
                                        th(style='width:140px') 餐別
                                        th 餐宴備註
                                tbody
                                    tr
                                        td
                                            input.form-control.w-100(type='text' inputmode='numeric' value='1.0')
                                        td
                                            input.date-input.form-control.w-100(type='text' value='2021-03-23')
                                        td
                                            select.custom-select.custom-select-sm.form-control.form-control-sm(name='' aria-controls='')
                                                option(value='0' selected='selected') 晚宴
                                                option(value='1') 午宴
                                        td
                                            input.form-control.w-100(type='text' value='')
                            .row.my-3
                                .col-sm-12
                                    label.d-flex.mb-0
                                        div(style='flex:0 0 80px;') 餐宴備註
                                        textarea.form-control.w-100(style='min-height:100px;')
                        #travel.cutover-in
                            table.table.table-bordered.dataTable.mt-3(width='100%' cellspacing='0' role='grid' aria-describedby='dataTable_info' style='width: 100%;')
                                thead
                                    tr
                                        th(style='width:80px;') 項次
                                        th(style='width:140px') 日期
                                        th 行程說明
                                        th.text-center(style='width:120px') 行程類型
                                        th.text-center(style='width:60px') 線上
                                        th(style='width:160px') 活動連結
                                tbody.travel-body
                                    tr
                                        td
                                            input.form-control.w-100(type='text' inputmode='numeric' value='1.0')
                                        td
                                            input.date-input.form-control.w-100(type='text' value='2021-03-23')
                                        td
                                            input.form-control.w-100(type='text' value='理監事聯席會議(限理監事以上人員勾選)')
                                        td.text-center
                                            select.custom-select.custom-select-sm.form-control.form-control-sm(name='' aria-controls='' )
                                                option(value='0' selected='selected') 會議
                                                option(value='1' ) 高爾夫
                                        td.text-center
                                            .form-check.form-check-inline.px-0.py-0.mx-0
                                                input.form-check-input.mr-0(type='checkbox' name='online')
                                        td
                                            input.form-control.w-100(type='text' value='')
                                    tr
                                        td(colspan='6')
                                            .row
                                                .col-sm-12.col-md-4
                                                    label.d-flex.align-items-center.mb-0
                                                        div(style='flex:0 0 80px;') 備註一
                                                        input.form-control.w-100(type='text')
                                                .col-sm-12.col-md-4
                                                    label.d-flex.align-items-center.mb-0
                                                        div(style='flex:0 0 80px;') 備註二
                                                        input.form-control.w-100(type='text')
                                                .col-sm-12.col-md-4
                                                    label.d-flex.align-items-center.mb-0
                                                        div(style='flex:0 0 80px;') 選項
                                                        input.form-control.w-100(type='text')
                                
                                tbody.travel-body
                                    tr
                                        td
                                            input.form-control.w-100(type='text' inputmode='numeric' value='1.0')
                                        td
                                            input.date-input.form-control.w-100(type='text' value='2021-03-23')
                                        td
                                            input.form-control.w-100(type='text' value='理監事聯席會議(限理監事以上人員勾選)')
                                        td.text-center
                                            select.custom-select.custom-select-sm.form-control.form-control-sm(name='' aria-controls='' )
                                                option(value='0' selected='selected') 會議
                                                option(value='1' ) 高爾夫
                                        td.text-center
                                            .form-check.form-check-inline.px-0.py-0.mx-0
                                                input.form-check-input.mr-0(type='checkbox' name='online')
                                        td
                                            input.form-control.w-100(type='text' value='')
                                    tr
                                        td(colspan='6')
                                            .row
                                                .col-sm-12.col-md-4
                                                    label.d-flex.align-items-center.mb-0
                                                        div(style='flex:0 0 80px;') 備註一
                                                        input.form-control.w-100(type='text')
                                                .col-sm-12.col-md-4
                                                    label.d-flex.align-items-center.mb-0
                                                        div(style='flex:0 0 80px;') 備註二
                                                        input.form-control.w-100(type='text')
                                                .col-sm-12.col-md-4
                                                    label.d-flex.align-items-center.mb-0
                                                        div(style='flex:0 0 80px;') 選項
                                                        input.form-control.w-100(type='text')
                            .row.my-3
                                .col-sm-12
                                    label.d-flex.mb-0
                                        div(style='flex:0 0 80px;') 行程備註
                                        textarea.form-control.w-100(style='min-height:100px;')
                        #self.cutover-in
                            table.table.table-bordered.dataTable.mt-3(width='100%' cellspacing='0' role='grid' aria-describedby='dataTable_info' style='width: 100%;')
                                thead
                                    tr
                                        th(style='width:80px;') 項次
                                        th(style='width:140px') 類別
                                        th(style='width:160px') 團名
                                        th 行程說明
                                        th 備註
                                        th(style='width:120px') 活動表單
                                        th(style='width:60px;') 序
                                tbody
                                    tr
                                        td
                                            input.form-control.w-100(type='text' inputmode='numeric' value='1.0')
                                        td
                                            select.custom-select.custom-select-sm.form-control.form-control-sm(name='' aria-controls='' )
                                                option(value='0' selected='selected') 會後旅遊
                                        td
                                            input.form-control.w-100(type='text' value='海外台商旅行社' )
                                        td
                                            input.form-control.w-100(type='text' value='A.樂活台東雙島蘭嶼+綠島四日遊' )
                                        td
                                            input.form-control.w-100(type='text' value='0' )
                                        td.text-center
                                            input.form-control.w-100(type='text' value='0')
                                        td
                                            input.form-control.w-100(type='text' value='0' )
                            .row.my-3
                                .col-sm-12
                                    label.d-flex.mb-0
                                        div(style='flex:0 0 80px;') 自費備註
                                        textarea.form-control.w-100(style='min-height:100px;' )
                        #note.cutover-in
                            .row.my-3
                                .col-sm-12.col-md-8
                                    label.d-flex.mb-0
                                        div(style='flex:0 0 80px;') 自費備註
                                        textarea.form-control.w-100(style='min-height:200px;' )
                                .col-sm-12.col-md-4
                                    label.d-flex.align-items-center.mb-3
                                        div(style='flex:0 0 140px;') 屆別註記-1
                                        input.form-control.w-100(type='text' value='27' )
                                    label.d-flex.align-items-center.mb-3
                                        div(style='flex:0 0 140px;') 屆別註記-2
                                        input.form-control.w-100(type='text' value='27' )
                .modal-footer
                    button.btn.btn-secondary.w-100.mr-2(type='button' data-dismiss='modal') 取消
                    button.btn.btn-success.w-100.ml-2(type='button' disabled='') 確認
    #deleteModalCenter.modal.fade(tabindex='-1' role='dialog' aria-labelledby='deleteModalCenterTitle' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-body.py-5.text-center 您確定要刪除此筆資料嗎?
                .modal-footer
                    button.btn.btn-secondary.w-100.mr-2(type='button' data-dismiss='modal') 取消
                    button.btn.btn-success.w-100.ml-2(type='button') 確認
    #addModalCenter.meeting-dialog.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addModalCenterTitle' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    .admin-page-title.d-flex.align-items-center
                        .icon.t-blue-dp
                            i.icon-flag
                        .t-blue-dp.h5.mb-0 建立會議
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') ×
                form
                    .model-body.px-4.py-0
                        .row.align-items-center.my-3
                            .col-sm-12.col-md-3
                                label.d-flex.align-items-center.mb-0
                                    div(style='flex:0 0 80px;') 會議編號
                                    input.form-control.w-100(type='text' inputmode='numeric')
                            .col-sm-12.col-md-3
                                label.d-flex.align-items-center.mb-0
                                    div(style='flex:0 0 80px;') 類別
                                    select.custom-select.custom-select-sm.form-control.form-control-sm(name='' aria-controls='')
                                        option(value='0')  
                            .col-sm-12.col-md-4
                                label.d-flex.align-items-center.mb-0
                                    div(style='flex:0 0 80px;') 會議年度
                                    input.form-control.w-100(type='text' inputmode='numeric')
                            .col-sm-12.col-md-2
                                label.d-flex.align-items-center.mb-0
                                    div(style='flex:0 0 80px;') 屆別
                                    input.form-control.w-100(type='text' inputmode='numeric')
                        .row.align-items-center.my-3
                            .col-sm-12.col-md-6
                                label.d-flex.align-items-center.mb-0
                                    div(style='flex:0 0 80px;') 會議名稱
                                    input.form-control.w-100(type='text' inputmode='search')
                            .col-sm-12.col-md-4
                                label.d-flex.align-items-center.mb-0
                                    div(style='flex:0 0 80px;') 期間
                                    .form-row.align-items-center
                                        .col
                                            input.form-control.date-input(type='text')
                                        span.mx-1 至
                                        .col
                                            input.form-control.date-input(type='text')
                            .col-sm-12.col-md-2
                                label.d-flex.align-items-center.mb-0
                                    div(style='flex:0 0 80px;') 總人數
                                    input.form-control.w-100(type='text' inputmode='numeric')
                        .row.align-items-center.my-3
                            .col-sm-12.col-md-3
                                label.d-flex.align-items-center.mb-0
                                    div(style='flex:0 0 80px;') 會議地點
                                    input.form-control.w-100(type='text' inputmode='search')
                            .col-sm-12.col-md-5
                                label.d-flex.align-items-center.mb-0
                                    div(style='flex:0 0 80px;') 會議地址
                                    input.form-control.w-100(type='text' inputmode='search')
                            .col-sm-12.col-md-3
                                label.d-flex.align-items-center.mb-0
                                    div(style='flex:0 0 80px;') 建檔日期
                                    input.form-control.w-100(type='text' inputmode='numeric')
                        .row.my-3
                            .col-sm-12
                                label.d-flex.mb-0
                                    div(style='flex:0 0 80px;') 會議內容
                                    textarea.form-control.w-100(style='height:100px;')
                        .row.align-items-center.my-3
                            .col-sm-12.col-md-6
                                label.d-flex.align-items-center.mb-0
                                    div(style='flex:0 0 80px;') 主辦單位
                                    input.form-control.w-100(type='text' inputmode='search')
                            .col-sm-12.col-md-6
                                label.d-flex.align-items-center.mb-0
                                    div(style='flex:0 0 80px;') 協辦單位
                                    input.form-control.w-100(type='text' inputmode='search')
                        .row.align-items-center.my-3
                            .col-sm-12.col-md-3
                                label.d-flex.align-items-center.mb-0
                                    div(style='flex:0 0 100px;') 會議聯絡人
                                    input.form-control.w-100(type='text' inputmode='search')
                            .col-sm-12.col-md-3
                                label.d-flex.align-items-center.mb-0
                                    div(style='flex:0 0 80px;') 電話
                                    input.form-control.w-100(type='tel' inputmode='tel')
                            .col-sm-12.col-md-3
                                label.d-flex.align-items-center.mb-0
                                    div(style='flex:0 0 80px;') 傳真
                                    input.form-control.w-100(type='tel' inputmode='tel')
                            .col-sm-12.col-md-3
                                label.d-flex.align-items-center.mb-0
                                    div(style='flex:0 0 80px;') 電子郵件
                                    input.form-control.w-100(type='email' inputmode='email')
                    .modal-footer
                        button.btn.btn-secondary.w-100.mr-2(type='button' data-dismiss='modal') 取消
                        button.btn.btn-success.w-100.ml-2(type='button') 確認