//- index.pug
extends ./include/login-layout.pug
block page-css
    link(rel='stylesheet' type='text/css' href='styles/admin.css')
    
block content
    main.wrapper.d-flex.align-items-center.justify-content-center
        .login-box
            .d-flex.align-items-center.logo-row
                span.logo
                    img.img-fluid(src="styles/images/logo.png", alt="")
                div
                    h1 世界台灣商會聯合總會
                    h2 World Taiwanes#[br]Chambers of Commerce
            p.border-top.pt-3.text-center 密碼重設，請輸入您的電子信箱
            form.pb-5(action="admin.html")
                .input-group.mb-4
                    .input-group-prepend
                        span.input-group-text
                            i.icon-user
                    input.form-control(type="text" placeholder="請輸入帳號" aria-label="Username")
                input.btn.btn-warning.w-100(type="submit", value="送出")