//- index.pug
extends ./include/layout.pug
block plugins-css
    link(rel='stylesheet' type='text/css' href='styles/plugins/jquery-ui.min.css')
    link(rel='stylesheet' type='text/css' href='styles/plugins/jquery-ui-timepicker-addon.css')
block plugins-js
    script(src='scripts/plugins/jquery-ui.min.js')
    script(src='scripts/plugins/jquery-ui-timepicker-addon.js')
    script.
        $('#meeting-register').each(function(){
            $(this).prev('.header').hide();

            if($(window).width() > 992) {
                $('.date-input').datepicker({
                    "dateFormat": "yy-mm-dd"
                });
            }

            $('.datetime-input').datetimepicker({
                "dateFormat": "yy-mm-dd",
                "timeFormat": "HH:mm"
            });
        });

        $('.add-family').on('click',function(){
            var familyInner = $('.register-family')
            var familyLen = $('.register-family .row').length;
            var familyTemplateA = '<div class="row" family="person-0"><div class="col-12 col-md-auto d-flex align-items-center" style="max-width:50px;"><h5 class="mb-0">A</h5></div><div class="col-12 col-md-3"><div class="form-group"><label class="meeting-form_label mr-2">中文姓名<span class="t-red">*</span></label><input class="form-control" type="text"/></div></div><div class="col-6 col-md-3"><div class="form-group"><label class="meeting-form_label mr-2">英文姓名<span class="t-red">*</span></label><input class="form-control" type="text"/></div></div><div class="col-6 col-md-auto"><div class="form-group"><label class="meeting-form_label mr-2" style="min-width: 40px">關係</label><select class="custom-select form-control form-control-sm" name="" aria-controls=""><option value="">請選擇</option><option value="0">夫妻</option><option value="1">父母</option><option value="2">小孩</option></select></div></div><div class="col-6 col-md-auto d-flex align-items-center"><div class="form-group"><div class="meeting-form_label" style="min-width: 40px;">性別</div><div class="form-check form-check-inline mr-2"><input class="form-check-input" type="radio" name="family-a-gender" value="male"/><label class="form-check-label">男</label></div><div class="form-check form-check-inline mr-0"><input class="form-check-input" type="radio" name="family-a-gender" value="female"/><label class="form-check-label">女</label></div></div></div><div class="col-6 col-md-auto d-flex align-items-center"><div class="form-group"><div class="meeting-form_label" style="min-width: 40px;">飲食</div><div class="form-check form-check-inline mr-2"><input class="form-check-input" type="radio" name="family-a-food" value="meat" checked="checked"/><label class="form-check-label">葷</label></div><div class="form-check form-check-inline mr-0"><input class="form-check-input" type="radio" name="family-a-food" value="vegetarian"/><label class="form-check-label">素</label></div></div></div><div class="col-12 col-md-auto d-flex align-items-center"><button class="less-family iconBtn d-flex align-items-center w-100" type="button"><i class="icon-less mr-2 mr-md-0"></i><span class="d-md-none">刪除此筆</span></button></div></div>'
            var familyTemplateB = '<div class="row" family="person-1"><div class="col-12 col-md-auto d-flex align-items-center" style="max-width:50px;"><h5 class="mb-0">B</h5></div><div class="col-12 col-md-3"><div class="form-group"><label class="meeting-form_label mr-2">中文姓名<span class="t-red">*</span></label><input class="form-control" type="text"/></div></div><div class="col-6 col-md-3"><div class="form-group"><label class="meeting-form_label mr-2">英文姓名<span class="t-red">*</span></label><input class="form-control" type="text"/></div></div><div class="col-6 col-md-auto"><div class="form-group"><label class="meeting-form_label mr-2" style="min-width: 40px">關係</label><select class="custom-select form-control form-control-sm" name="" aria-controls=""><option value="">請選擇</option><option value="0">夫妻</option><option value="1">父母</option><option value="2">小孩</option></select></div></div><div class="col-6 col-md-auto d-flex align-items-center"><div class="form-group"><div class="meeting-form_label" style="min-width: 40px;">性別</div><div class="form-check form-check-inline mr-2"><input class="form-check-input" type="radio" name="family-b-gender" value="male"/><label class="form-check-label">男</label></div><div class="form-check form-check-inline mr-0"><input class="form-check-input" type="radio" name="family-b-gender" value="female"/><label class="form-check-label">女</label></div></div></div><div class="col-6 col-md-auto d-flex align-items-center"><div class="form-group"><div class="meeting-form_label" style="min-width: 40px;">飲食</div><div class="form-check form-check-inline mr-2"><input class="form-check-input" type="radio" name="family-b-food" value="meat" checked="checked"/><label class="form-check-label">葷</label></div><div class="form-check form-check-inline mr-0"><input class="form-check-input" type="radio" name="family-b-food" value="vegetarian"/><label class="form-check-label">素</label></div></div></div><div class="col-12 col-md-auto d-flex align-items-center"><button class="less-family iconBtn d-flex align-items-center w-100" type="button"><i class="icon-less mr-2 mr-md-0"></i><span class="d-md-none">刪除此筆</span></button></div></div>'
            var familyTemplateC = '<div class="row" family="person-2"><div class="col-12 col-md-auto d-flex align-items-center" style="max-width:50px;"><h5 class="mb-0">C</h5></div><div class="col-12 col-md-3"><div class="form-group"><label class="meeting-form_label mr-2">中文姓名<span class="t-red">*</span></label><input class="form-control" type="text"/></div></div><div class="col-6 col-md-3"><div class="form-group"><label class="meeting-form_label mr-2">英文姓名<span class="t-red">*</span></label><input class="form-control" type="text"/></div></div><div class="col-6 col-md-auto"><div class="form-group"><label class="meeting-form_label mr-2" style="min-width: 40px">關係</label><select class="custom-select form-control form-control-sm" name="" aria-controls=""><option value="">請選擇</option><option value="0">夫妻</option><option value="1">父母</option><option value="2">小孩</option></select></div></div><div class="col-6 col-md-auto d-flex align-items-center"><div class="form-group"><div class="meeting-form_label" style="min-width: 40px;">性別</div><div class="form-check form-check-inline mr-2"><input class="form-check-input" type="radio" name="family-c-gender" value="male"/><label class="form-check-label">男</label></div><div class="form-check form-check-inline mr-0"><input class="form-check-input" type="radio" name="family-c-gender" value="female"/><label class="form-check-label">女</label></div></div></div><div class="col-6 col-md-auto d-flex align-items-center"><div class="form-group"><div class="meeting-form_label" style="min-width: 40px;">飲食</div><div class="form-check form-check-inline mr-2"><input class="form-check-input" type="radio" name="family-c-food" value="meat" checked="checked"/><label class="form-check-label">葷</label></div><div class="form-check form-check-inline mr-0"><input class="form-check-input" type="radio" name="family-c-food" value="vegetarian"/><label class="form-check-label">素</label></div></div></div><div class="col-12 col-md-auto d-flex align-items-center"><button class="less-family iconBtn d-flex align-items-center w-100" type="button"><i class="icon-less mr-2 mr-md-0"></i><span class="d-md-none">刪除此筆</span></button></div></div>'
            var familyTemplateD = '<div class="row" family="person-3"><div class="col-12 col-md-auto d-flex align-items-center" style="max-width:50px;"><h5 class="mb-0">D</h5></div><div class="col-12 col-md-3"><div class="form-group"><label class="meeting-form_label mr-2">中文姓名<span class="t-red">*</span></label><input class="form-control" type="text"/></div></div><div class="col-6 col-md-3"><div class="form-group"><label class="meeting-form_label mr-2">英文姓名<span class="t-red">*</span></label><input class="form-control" type="text"/></div></div><div class="col-6 col-md-auto"><div class="form-group"><label class="meeting-form_label mr-2" style="min-width: 40px">關係</label><select class="custom-select form-control form-control-sm" name="" aria-controls=""><option value="">請選擇</option><option value="0">夫妻</option><option value="1">父母</option><option value="2">小孩</option></select></div></div><div class="col-6 col-md-auto d-flex align-items-center"><div class="form-group"><div class="meeting-form_label" style="min-width: 40px;">性別</div><div class="form-check form-check-inline mr-2"><input class="form-check-input" type="radio" name="family-d-gender" value="male"/><label class="form-check-label">男</label></div><div class="form-check form-check-inline mr-0"><input class="form-check-input" type="radio" name="family-d-gender" value="female"/><label class="form-check-label">女</label></div></div></div><div class="col-6 col-md-auto d-flex align-items-center"><div class="form-group"><div class="meeting-form_label" style="min-width: 40px;">飲食</div><div class="form-check form-check-inline mr-2"><input class="form-check-input" type="radio" name="family-d-food" value="meat" checked="checked"/><label class="form-check-label">葷</label></div><div class="form-check form-check-inline mr-0"><input class="form-check-input" type="radio" name="family-d-food" value="vegetarian"/><label class="form-check-label">素</label></div></div></div><div class="col-12 col-md-auto d-flex align-items-center"><button class="less-family iconBtn d-flex align-items-center w-100" type="button"><i class="icon-less mr-2 mr-md-0"></i><span class="d-md-none">刪除此筆</span></button></div></div>'
            console.log(familyLen);
            if(familyLen == 0) {
                $('.person-0').css('display','inline-flex');
                familyInner.append(familyTemplateA);
            }
            if(familyLen == 1) {
                $('.person-1').css('display','inline-flex');
                familyInner.append(familyTemplateB);
            }
            if(familyLen == 2) {
                $('.person-2').css('display','inline-flex');
                familyInner.append(familyTemplateC);
            }
            if(familyLen == 3) {
                $('.person-3').css('display','inline-flex');
                familyInner.append(familyTemplateD);
            }
            if(familyLen >= 3) {
                $(this).attr('disabled', true);
            }
        });
        $('.register-family').on('click','.less-family', function(){
            var familyInner = $('.register-family')
            var familyLen = $('.register-family .row').length;
            $(this).parents('.row').remove();
            if(familyLen <= 1) { 
                $('.add-family').attr('disabled', false);
            }
            var deleteFamily = $(this).parents('.row').attr('family');
            var thisFamily = $('.'+ deleteFamily);
            thisFamily.hide();
        });

        $('.person-check .person-all').on('change',function(){
            if($(this).prop("checked")) {
                $(this).parents('.person-check').find('input[type="checkbox"]').each(function() {
                    $(this).prop("checked", true);
                });
            } else {
                $(this).parents('.person-check').find('input[type="checkbox"]').each(function() {
                    $(this).prop("checked", false);
                });
            }
        });

        
block content
    main.wrapper.meeting-wrapper#meeting-register
        .inner
            h3
                i.icon-edit
                span 報名資料填寫
            div
                .meeting-info
                    .container
                        section
                            h4.mb-0 基本資料
                            .row
                                .col-6.col-md-4
                                    .form-group
                                        label.meeting-form_label.mr-3(for='member-name') 中文姓名#[span.t-red *]
                                        input.form-control#member-name(type="text" )
                                .col-6.col-md-4
                                    .form-group
                                        label.meeting-form_label.mr-3(for='member-name-en') 英文姓名#[span.t-red *]
                                        input.form-control#member-name-en(type="text")
                                .col-12.col-md-4.d-flex.align-items-center
                                    .form-group.d-flex.align-items-center
                                        span.meeting-form_label(style='min-width: auto;') 性別
                                        .form-check.form-check-inline.mr-4
                                            input#male.form-check-input(type='radio' name='gender' value='male')
                                            label.form-check-label(for='male') 男
                                        .form-check.form-check-inline
                                            input#female.form-check-input(type='radio' name='gender' value='female')
                                            label.form-check-label(for='female') 女
                                .col-12.col-md-4
                                    .form-group
                                        label.meeting-form_label.mr-3(for='birth') 出生日期
                                        input.form-control#birth.date-input(type="date" inputmode="none")
                                .col-6.col-md-4
                                    .form-group
                                        label.meeting-form_label.mr-3(for='job') 世總職稱#[span.t-red *]
                                        select#job.custom-select.form-control.form-control-sm(name='' aria-controls='')
                                            option(value='') 請選擇
                                            option(value='0' selected='selected') 名譽總會長
                                            option(value='1') 名譽監事長
                                            option(value='2') 總會長
                                            option(value='3') 監事長
                                            option(value='4') 副總會長
                                            option(value='5') 副監事長
                                            option(value='6') 諮詢委員
                                            option(value='7') 資深顧問
                                            option(value='8') 顧問
                                            option(value='9') 理監事
                                            option(value='10') 會員
                                .col-6.col-md-4
                                    .form-group
                                        label.meeting-form_label.mr-3(for='wtcc-area' style='min-width: 130px;') 所屬地區商會#[span.t-red *]
                                        input.form-control#wtcc-area(type="text" )
                                .col-6.col-md-4
                                    .form-group
                                        label.meeting-form_label.mr-3(for='tel') 聯絡電話
                                        input.form-control#tel(type="text" inputmode="tel")
                                .col-6.col-md-4
                                    .form-group
                                        label.meeting-form_label.mr-3(for='fax') 傳真號碼
                                        input.form-control#fax(type="text" inputmode="tel")
                                .col-6.col-md-4
                                    .form-group
                                        label.meeting-form_label.mr-3(for='phone') 手機#[span.t-red *]
                                        input.form-control#phone(type="text" inputmode="tel")
                                .col-6.col-md-4
                                    .form-group
                                        label.meeting-form_label.mr-3(for='mail') E-mail#[span.t-red *]
                                        input.form-control#mail(type="text" inputmode="email")
                                .col-6.col-md-4.d-flex.align-items-center
                                    .form-group
                                        .meeting-form_label(style='min-width: auto;') 飲食
                                        .form-check.form-check-inline.mr-4
                                            input#meat.form-check-input(type='radio' name='food' value='meat' checked)
                                            label.form-check-label(for='meat') 葷
                                        .form-check.form-check-inline
                                            input#vegetarian.form-check-input(type='radio' name='food' value='vegetarian')
                                            label.form-check-label(for='vegetarian') 素
                                .col-6.col-md-4
                                    .form-group
                                        label.meeting-form_label.mr-3(for='area') 區別
                                        select#area.custom-select.form-control.form-control-sm(name='' aria-controls='')
                                            option(value='') 請選擇
                                            option(value='0') 北美洲
                                            option(value='1') 亞洲
                                            option(value='2') 歐洲理
                                            option(value='3') 非洲
                                            option(value='4') 中南美洲
                                            option(value='5') 大洋洲
                                            option(value='6') 青商會
                        section
                            .d-flex.align-items-center.justify-content-between
                                h4.mb-0 隨行眷屬
                                button.add-family.iconBtn(type='button')
                                    i.icon-add.mr-1
                                    span 新增一筆
                            .register-family
                                .row(family="person-0")
                                    .col-12.col-md-auto.d-flex.align-items-center(style='max-width:50px;')
                                        h5.mb-0 A
                                    .col-12.col-md-3
                                        .form-group
                                            label.meeting-form_label.mr-2 中文姓名#[span.t-red *]
                                            input.form-control(type="text" )
                                    .col-6.col-md-3
                                        .form-group
                                            label.meeting-form_label.mr-2 英文姓名#[span.t-red *]
                                            input.form-control(type="text")
                                    .col-6.col-md-auto
                                        .form-group
                                            label.meeting-form_label.mr-2(style='min-width: 40px') 關係
                                            select.custom-select.form-control.form-control-sm(name='' aria-controls='')
                                                option(value='') 請選擇
                                                option(value='0') 夫妻
                                                option(value='1') 父母
                                                option(value='2') 小孩
                                    .col-6.col-md-auto.d-flex.align-items-center
                                        .form-group
                                            .meeting-form_label(style='min-width: 40px;') 性別
                                            .form-check.form-check-inline.mr-2
                                                input.form-check-input(type='radio' name='family-a-gender' value='male')
                                                label.form-check-label 男
                                            .form-check.form-check-inline.mr-0
                                                input.form-check-input(type='radio' name='family-a-gender' value='female')
                                                label.form-check-label 女
                                    .col-6.col-md-auto.d-flex.align-items-center
                                        .form-group
                                            .meeting-form_label(style='min-width: 40px;') 飲食
                                            .form-check.form-check-inline.mr-2
                                                input.form-check-input(type='radio' name='family-a-food' value='meat' checked)
                                                label.form-check-label 葷
                                            .form-check.form-check-inline.mr-0
                                                input.form-check-input(type='radio' name='family-a-food' value='vegetarian')
                                                label.form-check-label 素
                                    .col-12.col-md-auto.d-flex.align-items-center
                                        button.less-family.iconBtn.d-flex.align-items.center.w-100(type='button')
                                            i.icon-less.mr-2.mr-md-0
                                            span.d-md-none 刪除此筆
                        section
                            h4.mb-0 出席費
                            .row
                                .col-12
                                    p.t-red
                                        |會議出席費#[br] 
                                .col-12
                                    p.mb-0 出席費總計#[b.t-red.ml-2 $2,000]
                        section
                            h4.mb-0 班機
                            p.fz-16.t-red.mb-3 如須接送機者，務必請確認航班抵達、離開時間，若有變更，請即時通知。
                            .air-inner
                                .row
                                    .air-item.col-12.col-md-6
                                        h5.mb-0 入境資訊
                                        .row.align-items-center
                                            .col-6
                                                .form-group
                                                    label.meeting-form_label.mr-2(for='entry-route' style='min-width:40px;') 航線
                                                    select.custom-select.form-control.form-control-sm#entry-route(name='' aria-controls='')
                                                        option(value='') 請選擇
                                                        option(value='0') 國內航線
                                                        option(value='1') 國際航線
                                            .col-6
                                                .form-group
                                                    label.meeting-form_label.mr-2(for='entry-no' style='min-width:40px;') 班機
                                                    input.form-control#entry-no(type="text" placeholder='Ex: CX701')
                                            .col-6
                                                .form-group
                                                    label.meeting-form_label.mr-2(for='entry-time' style='min-width:40px;') 時間
                                                    input.form-control#entry-time.datetime-input(type="none" inputmode="none")
                                            .col-12.col-md-6.d-flex.align-items-center
                                                .form-group
                                                    .meeting-form_label.mr-2.mr-md-4(style='min-width: 40px;') 航廈
                                                    .form-check.form-check-inline.mr-2
                                                        input.form-check-input(type='radio' name='terminal' value='T1')
                                                        label.form-check-label T1
                                                    .form-check.form-check-inline
                                                        input.form-check-input(type='radio' name='terminal' value='T2')
                                                        label.form-check-label T2
                                                    .form-check.form-check-inline.mr-2
                                                        input.form-check-input(type='radio' name='terminal' value='T3')
                                                        label.form-check-label T3
                                                    .form-check.form-check-inline
                                                        input.form-check-input(type='radio' name='terminal' value='T4')
                                                        label.form-check-label T4
                                            .col-12.d-flex.align-items-center
                                                .form-group
                                                    .meeting-form_label.mr-2.mr-md-4(style='min-width: 40px;') 接機
                                                    .form-check.form-check-inline.mr-2
                                                        input.form-check-input(type='radio' name='entry-bus' value='no')
                                                        label.form-check-label 否
                                                    .form-check.form-check-inline
                                                        input.form-check-input(type='radio' name='entry-bus' value='yes')
                                                        label.form-check-label 是
                                            .col-12.d-flex.align-items-center
                                                .form-group
                                                    .meeting-form_label.mr-2.mr-md-4(style='min-width: 40px;') 人數
                                                    .person-check
                                                        .form-check.form-check-inline
                                                            input.person-all.form-check-input(type='checkbox' name='entryBus' value='all')
                                                            label.form-check-label 所有
                                                        .form-check.form-check-inline
                                                            input.person-self.form-check-input(type='checkbox' name='entryBus' value='self')
                                                            label.form-check-label 自己
                                                        .form-check.form-check-inline.person-0
                                                            input.person-family.form-check-input(type='checkbox' name='entryBus' value='family-A')
                                                            label.form-check-label 眷屬A
                                                        .form-check.form-check-inline.person-1
                                                            input.person-family.form-check-input(type='checkbox' name='entryBus' value='family-B')
                                                            label.form-check-label 眷屬B
                                                        .form-check.form-check-inline.person-2
                                                            input.person-family.form-check-input(type='checkbox' name='entryBus' value='family-C')
                                                            label.form-check-label 眷屬C
                                                        .form-check.form-check-inline.person-3
                                                            input.person-family.form-check-input(type='checkbox' name='entryBus' value='family-D')
                                                            label.form-check-label 眷屬D
                                    .air-item.col-12.col-md-6
                                        h5.mb-0 出境資訊
                                        .row.align-items-center
                                            .col-6
                                                .form-group
                                                    label.meeting-form_label.mr-2(for='entry-route' style='min-width:40px;') 航線
                                                    select.custom-select.form-control.form-control-sm#Outbound-route(name='' aria-controls='')
                                                        option(value='') 請選擇
                                                        option(value='0') 國內航線
                                                        option(value='1') 國際航線
                                            .col-6
                                                .form-group
                                                    label.meeting-form_label.mr-2(for='entry-no' style='min-width:40px;') 班機
                                                    input.form-control#Outbound-no(type="text" placeholder='CX701')
                                            .col-6
                                                .form-group
                                                    label.meeting-form_label.mr-2(for='entry-time' style='min-width:40px;') 時間
                                                    input.form-control#Outbound-time.datetime-input(type="none" inputmode="none")
                                            .col-12.col-md-6.d-flex.align-items-center
                                                .form-group
                                                    .meeting-form_label.mr-2.mr-md-4(style='min-width: 40px;') 航廈
                                                    .form-check.form-check-inline.mr-2
                                                        input.form-check-input(type='radio' name='terminal' value='T1')
                                                        label.form-check-label T1
                                                    .form-check.form-check-inline
                                                        input.form-check-input(type='radio' name='terminal' value='T2')
                                                        label.form-check-label T2
                                                    .form-check.form-check-inline.mr-2
                                                        input.form-check-input(type='radio' name='terminal' value='T3')
                                                        label.form-check-label T3
                                                    .form-check.form-check-inline
                                                        input.form-check-input(type='radio' name='terminal' value='T4')
                                                        label.form-check-label T4
                                            .col-12.d-flex.align-items-center
                                                .form-group
                                                    .meeting-form_label.mr-2.mr-md-4(style='min-width: 40px;') 接機
                                                    .form-check.form-check-inline.mr-2
                                                        input.form-check-input(type='radio' name='Outbound-bus' value='no')
                                                        label.form-check-label 否
                                                    .form-check.form-check-inline
                                                        input.form-check-input(type='radio' name='Outbound-bus' value='yes')
                                                        label.form-check-label 是
                                            .col-12.d-flex.align-items-center
                                                .form-group
                                                    .meeting-form_label.mr-2.mr-md-4(style='min-width: 40px;') 人數
                                                    .person-check
                                                        .person-check
                                                            .form-check.form-check-inline
                                                                input.person-all.form-check-input(type='checkbox' name='OutboundBus' value='all')
                                                                label.form-check-label 所有
                                                            .form-check.form-check-inline
                                                                input.person-self.form-check-input(type='checkbox' name='OutboundBus' value='self')
                                                                label.form-check-label 自己
                                                            .form-check.form-check-inline.person-0
                                                                input.person-family.form-check-input(type='checkbox' name='OutboundBus' value='family-A')
                                                                label.form-check-label 眷屬A
                                                            .form-check.form-check-inline.person-1
                                                                input.person-family.form-check-input(type='checkbox' name='OutboundBus' value='family-B')
                                                                label.form-check-label 眷屬B
                                                            .form-check.form-check-inline.person-2
                                                                input.person-family.form-check-input(type='checkbox' name='OutboundBus' value='family-C')
                                                                label.form-check-label 眷屬C
                                                            .form-check.form-check-inline.person-3
                                                                input.person-family.form-check-input(type='checkbox' name='OutboundBus' value='family-D')
                                                                label.form-check-label 眷屬D
                        section
                            h4.mb-0 訂房資料
                            .row
                                .col-12.col-md-4
                                    .form-group
                                        label.meeting-form_label.mr-3(for='checkIn') 入住日期
                                        input.form-control#checkIn.date-input(type="date" inputmode="none")
                                .col-12.col-md-4
                                    .form-group
                                        label.meeting-form_label.mr-3(for='checkOut') 退房日期
                                        input.form-control#checkOut.date-input(type="date" inputmode="none")
                                
                            p.my-2.t-red *出席
                            .rooms-inner
                                .room-item.row.align-items-center.py-2
                                    .col-12.col-md-2
                                        a.t-blue-dp(href='' target='_blank')
                                            span 台北圓山飯店
                                            i.icon-url
                                    .col-12.col-md-3
                                        p.fz-18.mb-0 精緻無窗客房(正館2-9樓/無景)
                                    .col-12.col-md-1
                                        p.mb-2.mb-md-0 NT$3,400
                                    .col-12.col-md-4
                                        p.fz-18.mb-0.t-gray 單人NT3,400(含1早+網路);雙人NT3,800(含2早+網路)
                                    .col-12.col-md-2
                                        .form-group.d-flex
                                            label.meeting-form_label.mr-2(for='member-name' style='min-width:60px;') 房數#[span.t-red *]
                                            input.form-control#member-name(type="text" )
                                            span.ml-2 間
                                .room-item.row.align-items-center.py-2
                                    .col-12.col-md-2
                                        a.t-blue-dp(href='' target='_blank')
                                            span 台北圓山飯店
                                            i.icon-url
                                    .col-12.col-md-3
                                        p.fz-18.mb-0 豪華(正館2-6樓/山景房)
                                    .col-12.col-md-1
                                        p.mb-2.mb-md-0 NT$4,500
                                    .col-12.col-md-4
                                        p.fz-18.mb-0.t-gray 單人NT4,500(含1早+網路);雙人NT4,900(含2早+網路)
                                    .col-12.col-md-2
                                        .form-group.d-flex
                                            label.meeting-form_label.mr-2(for='member-name' style='min-width:60px;') 房數#[span.t-red *]
                                            input.form-control#member-name(type="text" )
                                            span.ml-2 間
                                .room-item.row.align-items-center.py-2
                                    .col-12.col-md-2
                                        a.t-blue-dp(href='' target='_blank')
                                            span 台北圓山飯店
                                            i.icon-url
                                    .col-12.col-md-3
                                        p.fz-18.mb-0 精緻無窗客房(正館2-9樓/無景)
                                    .col-12.col-md-1
                                        p.mb-2.mb-md-0 NT$3,400
                                    .col-12.col-md-4
                                        p.fz-18.mb-0.t-gray 單人NT3,400(含1早+網路);雙人NT3,800(含2早+網路)
                                    .col-12.col-md-2
                                        .form-group.d-flex
                                            label.meeting-form_label.mr-2(for='member-name' style='min-width:60px;') 房數#[span.t-red *]
                                            input.form-control#member-name(type="text" )
                                            span.ml-2 間
                                .room-item.row.align-items-center.py-2
                                    .col-12.col-md-2
                                        a.t-blue-dp(href='' target='_blank')
                                            span 台北圓山飯店
                                            i.icon-url
                                    .col-12.col-md-3
                                        p.fz-18.mb-0 豪華(正館2-6樓/山景房)
                                    .col-12.col-md-1
                                        p.mb-2.mb-md-0 NT$4,500
                                    .col-12.col-md-4
                                        p.fz-18.mb-0.t-gray 單人NT4,500(含1早+網路);雙人NT4,900(含2早+網路)
                                    .col-12.col-md-2
                                        .form-group.d-flex
                                            label.meeting-form_label.mr-2(for='member-name' style='min-width:60px;') 房數#[span.t-red *]
                                            input.form-control#member-name(type="text" )
                                            span.ml-2 間
                        section
                            h4.mb-0 餐宴
                            p.fz-16.t-red.mb-3 *3月23日至24日餐宴，敬請確定可以參加才勾選，以避免浪費資源。凡勾選而未參加者，須自行負責餐費新台幣2000元／次。
                            .food-inner
                                .food-item.row.align-items-center.py-2
                                    .col-12.col-md-3 2021/3/23 晚宴
                                    .col-12.col-md-auto
                                        .form-group
                                            .meeting-form_label.mr-2.mr-md-4 參加人數
                                            .person-check
                                                .form-check.form-check-inline
                                                    input.person-all.form-check-input(type='checkbox' name='dinner-1' value='all')
                                                    label.form-check-label 所有
                                                .form-check.form-check-inline
                                                    input.person-self.form-check-input(type='checkbox' name='dinner-1' value='self')
                                                    label.form-check-label 自己
                                                .form-check.form-check-inline.person-0
                                                    input.person-family.form-check-input(type='checkbox' name='dinner-1' value='family-A')
                                                    label.form-check-label 眷屬A
                                                .form-check.form-check-inline.person-1
                                                    input.person-family.form-check-input(type='checkbox' name='dinner-1' value='family-B')
                                                    label.form-check-label 眷屬B
                                                .form-check.form-check-inline.person-2
                                                    input.person-family.form-check-input(type='checkbox' name='dinner-1' value='family-C')
                                                    label.form-check-label 眷屬C
                                                .form-check.form-check-inline.person-3
                                                    input.person-family.form-check-input(type='checkbox' name='dinner-1' value='family-D')
                                                    label.form-check-label 眷屬D
                                .food-item.row.align-items-center.py-2
                                    .col-12.col-md-3 2021/3/24 午宴
                                    .col-12.col-md-auto
                                        .form-group
                                            .meeting-form_label.mr-2.mr-md-4 參加人數
                                            .person-check
                                                .form-check.form-check-inline
                                                    input.person-all.form-check-input(type='checkbox' name='lunch-2' value='all')
                                                    label.form-check-label 所有
                                                .form-check.form-check-inline
                                                    input.person-self.form-check-input(type='checkbox' name='lunch-2' value='self')
                                                    label.form-check-label 自己
                                                .form-check.form-check-inline.person-0
                                                    input.person-family.form-check-input(type='checkbox' name='lunch-2' value='family-A')
                                                    label.form-check-label 眷屬A
                                                .form-check.form-check-inline.person-1
                                                    input.person-family.form-check-input(type='checkbox' name='lunch-2' value='family-B')
                                                    label.form-check-label 眷屬B
                                                .form-check.form-check-inline.person-2
                                                    input.person-family.form-check-input(type='checkbox' name='lunch-2' value='family-C')
                                                    label.form-check-label 眷屬C
                                                .form-check.form-check-inline.person-3
                                                    input.person-family.form-check-input(type='checkbox' name='lunch-2' value='family-D')
                                                    label.form-check-label 眷屬D
                                .food-item.row.align-items-center.py-2
                                    .col-12.col-md-3 2021/3/24 晚宴
                                    .col-12.col-md-auto
                                        .form-group
                                            .meeting-form_label.mr-2.mr-md-4 參加人數
                                            .person-check
                                                .form-check.form-check-inline
                                                    input.person-all.form-check-input(type='checkbox' name='dinner-2' value='all')
                                                    label.form-check-label 所有
                                                .form-check.form-check-inline
                                                    input.person-self.form-check-input(type='checkbox' name='dinner-2' value='self')
                                                    label.form-check-label 自己
                                                .form-check.form-check-inline.person-0
                                                    input.person-family.form-check-input(type='checkbox' name='dinner-2' value='family-A')
                                                    label.form-check-label 眷屬A
                                                .form-check.form-check-inline.person-1
                                                    input.person-family.form-check-input(type='checkbox' name='dinner-2' value='family-B')
                                                    label.form-check-label 眷屬B
                                                .form-check.form-check-inline.person-2
                                                    input.person-family.form-check-input(type='checkbox' name='dinner-2' value='family-C')
                                                    label.form-check-label 眷屬C
                                                .form-check.form-check-inline.person-3
                                                    input.person-family.form-check-input(type='checkbox' name='dinner-2' value='family-D')
                                                    label.form-check-label 眷屬D
                        section
                            h4.mb-0 會議行程
                            p.fz-16.t-red.mb-3 *必填：理監事以上人員出席實體會議或線上會議，請擇一填選。
                            .travel-inner
                                .travel-item.row.align-items-center.py-2
                                    .col-12.col-md-4
                                        p.mb-0 2021/3/24 出席實體理監事聯席會議
                                        .fz-16 (限理監事以上人員勾選)
                                    .col-12.col-md-2.d-flex.align-items-center
                                        .form-group
                                            .form-check.form-check-inline.mr-4
                                                input.form-check-input(type='radio' name='online' value='yes')
                                                label.form-check-label 線上
                                            .form-check.form-check-inline
                                                input.form-check-input(type='radio' name='online' value='no' checked)
                                                label.form-check-label 實體
                                    .col-12.col-md-auto
                                        .form-group
                                            .meeting-form_label.mr-2.mr-md-4 參加人數
                                            .person-check
                                                .form-check.form-check-inline
                                                    input.person-all.form-check-input(type='checkbox' name='meeting-1' value='all')
                                                    label.form-check-label 所有
                                                .form-check.form-check-inline
                                                    input.person-self.form-check-input(type='checkbox' name='meeting-1' value='self')
                                                    label.form-check-label 自己
                                                .form-check.form-check-inline.person-0
                                                    input.person-family.form-check-input(type='checkbox' name='meeting-1' value='family-A')
                                                    label.form-check-label 眷屬A
                                                .form-check.form-check-inline.person-1
                                                    input.person-family.form-check-input(type='checkbox' name='meeting-1' value='family-B')
                                                    label.form-check-label 眷屬B
                                                .form-check.form-check-inline.person-2
                                                    input.person-family.form-check-input(type='checkbox' name='meeting-1' value='family-C')
                                                    label.form-check-label 眷屬C
                                                .form-check.form-check-inline.person-3
                                                    input.person-family.form-check-input(type='checkbox' name='meeting-1' value='family-D')
                                                    label.form-check-label 眷屬D
                                .travel-item.row.align-items-center.py-2
                                    .col-12.col-md-5
                                        p.mb-0 2021/3/24 出席線上理監事聯席會議
                                        .fz-16 (限理監事以上人員勾選)
                                    .col-12.col-md-7
                                        .form-group
                                            .meeting-form_label.mr-2.mr-md-4 參加人數
                                            .person-check
                                                .form-check.form-check-inline
                                                    input.person-all.form-check-input(type='checkbox' name='meeting-1' value='all')
                                                    label.form-check-label 所有
                                                .form-check.form-check-inline
                                                    input.person-self.form-check-input(type='checkbox' name='meeting-1' value='self')
                                                    label.form-check-label 自己
                                                .form-check.form-check-inline.person-0
                                                    input.person-family.form-check-input(type='checkbox' name='meeting-1' value='family-A')
                                                    label.form-check-label 眷屬A
                                                .form-check.form-check-inline.person-1
                                                    input.person-family.form-check-input(type='checkbox' name='meeting-1' value='family-B')
                                                    label.form-check-label 眷屬B
                                                .form-check.form-check-inline.person-2
                                                    input.person-family.form-check-input(type='checkbox' name='meeting-1' value='family-C')
                                                    label.form-check-label 眷屬C
                                                .form-check.form-check-inline.person-3
                                                    input.person-family.form-check-input(type='checkbox' name='meeting-1' value='family-D')
                                                    label.form-check-label 眷屬D
                                .travel-item.row.align-items-center.py-2
                                    .col-12.col-md-5 2021/3/23 高爾夫球賽
                                    .col-12.col-md-4.d-flex.align-items-center
                                        .form-group
                                            .form-check.form-check-inline.mr-4
                                                input.form-check-input(type='radio' name='join-golf' value='yes')
                                                label.form-check-label 參加
                                            .form-check.form-check-inline
                                                input.form-check-input(type='radio' name='join-golf' value='no' checked)
                                                label.form-check-label 不參加
                                    .col-12.col-md-3
                                        a.t-blue-dp(href='' target='_blank')
                                            span 參加前往填寫表單
                                            i.icon-url
                        section
                            h4.mb-0 自費旅遊
                            p.fz-16.t-red.mb-3 *欲參加旅遊者，請填妥旅遊報名表，務請逕自Email或Fax：+886-2-3322-2258至海外台商旅行社報名，並再以電話聯繫海外台商旅行社#[a(href='tel:+886-2-3322-4458') TEL:+886-2-3322-4458]確認。
                            .self-inner
                                .self-item.row.align-items-center.py-2
                                    .col-12.col-md-5
                                        p.mb-0 會後旅遊 A.樂活台東雙島蘭嶼+綠島四日遊
                                    .col-12.col-md-auto
                                        .form-group
                                            .meeting-form_label.mr-2.mr-md-4 參加人數
                                            .person-check
                                                .form-check.form-check-inline
                                                    input.person-all.form-check-input(type='checkbox' name='selfTravel-A' value='all')
                                                    label.form-check-label 所有
                                                .form-check.form-check-inline
                                                    input.person-self.form-check-input(type='checkbox' name='selfTravel-A' value='self')
                                                    label.form-check-label 自己
                                                .form-check.form-check-inline.person-0
                                                    input.person-family.form-check-input(type='checkbox' name='selfTravel-A' value='family-A')
                                                    label.form-check-label 眷屬A
                                                .form-check.form-check-inline.person-1
                                                    input.person-family.form-check-input(type='checkbox' name='selfTravel-A' value='family-B')
                                                    label.form-check-label 眷屬B
                                                .form-check.form-check-inline.person-2
                                                    input.person-family.form-check-input(type='checkbox' name='selfTravel-A' value='family-C')
                                                    label.form-check-label 眷屬C
                                                .form-check.form-check-inline.person-3
                                                    input.person-family.form-check-input(type='checkbox' name='selfTravel-A' value='family-D')
                                                    label.form-check-label 眷屬D
                                    .col-12.col-md-3
                                        a.t-blue-dp(href='' target='_blank')
                                            span 海外台商旅行社承辦
                                            i.icon-url
                                .self-item.row.align-items-center.py-2
                                    .col-12.col-md-5
                                        p.mb-0 會後旅遊 B.一生必看-藍眼淚馬祖三日遊
                                    .col-12.col-md-auto
                                        .form-group
                                            .meeting-form_label.mr-2.mr-md-4 參加人數
                                            .person-check
                                                .form-check.form-check-inline
                                                    input.person-all.form-check-input(type='checkbox' name='selfTravel-B' value='all')
                                                    label.form-check-label 所有
                                                .form-check.form-check-inline
                                                    input.person-self.form-check-input(type='checkbox' name='selfTravel-B' value='self')
                                                    label.form-check-label 自己
                                                .form-check.form-check-inline.person-0
                                                    input.person-family.form-check-input(type='checkbox' name='selfTravel-B' value='family-A')
                                                    label.form-check-label 眷屬A
                                                .form-check.form-check-inline.person-1
                                                    input.person-family.form-check-input(type='checkbox' name='selfTravel-B' value='family-B')
                                                    label.form-check-label 眷屬B
                                                .form-check.form-check-inline.person-2
                                                    input.person-family.form-check-input(type='checkbox' name='selfTravel-B' value='family-C')
                                                    label.form-check-label 眷屬C
                                                .form-check.form-check-inline.person-3
                                                    input.person-family.form-check-input(type='checkbox' name='selfTravel-B' value='family-D')
                                                    label.form-check-label 眷屬D
                                    .col-B2.col-md-3
                                        a.t-blue-dp(href='' target='_blank')
                                            span 海外台商旅行社承辦
                                            i.icon-url
                                .self-item.row.align-items-center.py-2
                                    .col-12.col-md-5
                                        p.mb-0 會後旅遊 C.遺落人間的部落-司馬庫斯三日遊
                                    .col-12.col-md-auto
                                        .form-group
                                            .meeting-form_label.mr-2.mr-md-4 參加人數
                                            .person-check
                                                .form-check.form-check-inline
                                                    input.person-all.form-check-input(type='checkbox' name='selfTravel-C' value='all')
                                                    label.form-check-label 所有
                                                .form-check.form-check-inline
                                                    input.person-self.form-check-input(type='checkbox' name='selfTravel-C' value='self')
                                                    label.form-check-label 自己
                                                .form-check.form-check-inline.person-0
                                                    input.person-family.form-check-input(type='checkbox' name='selfTravel-C' value='family-A')
                                                    label.form-check-label 眷屬A
                                                .form-check.form-check-inline.person-1
                                                    input.person-family.form-check-input(type='checkbox' name='selfTravel-C' value='family-B')
                                                    label.form-check-label 眷屬B
                                                .form-check.form-check-inline.person-2
                                                    input.person-family.form-check-input(type='checkbox' name='selfTravel-C' value='family-C')
                                                    label.form-check-label 眷屬C
                                                .form-check.form-check-inline.person-3
                                                    input.person-family.form-check-input(type='checkbox' name='selfTravel-C' value='family-D')
                                                    label.form-check-label 眷屬D
                                    .col-B2.col-md-3
                                        a.t-blue-dp(href='' target='_blank')
                                            span 海外台商旅行社承辦
                                            i.icon-url
                        section
                            h4.mb-0 備註
                            .row
                                .col-12
                                    p.fz-18 備註內容

                .meeting-btn-group.row.mx-auto.mt-3
                    .col-6
                        a.w-100.btn.btn-light.form-item.row-rounded.justify-content-center(href='meeting-login.html') 回上一頁
                    .col-6
                        button.w-100.btn.btn-success.form-item.row-rounded.justify-content-center(data-toggle="modal" data-target="#meetingRegisterModal") 送出資料

    #meetingRegisterModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="meetingRegisterModalCenterTitle" aria-hidden="true")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
                .modal-body.py-5.text-center 您已送出報名資料
                .modal-footer
                    a.btn.btn-success.w-100.ml-2(href='meeting.html') 關閉

