//- index.pug
extends ./include/layout.pug
block plugins-css
    link(rel="stylesheet", href="styles/plugins/jquery.steps.css")
block content
    main.wrapper.vote-wrapper
        form.vote-form.inner(action="voted.html")
            .vote-slider
                section.item.mb-5
                    .main-subTitle.bold.mb-3 總會第27屆第2次理監事聯席會議案，敬請查鑒
                    p.mb-3 明年第27屆第2次理監事聯席會議開會時間及地點，原則上擬訂於3月份在墨西哥Leon舉辦，但也要視疫情發展狀況，有關會議報名事宜將於今(2020)年12月份通知理監事以上人員。
                    .d-flex.align-items-center.justify-content-center
                        .form-check
                            input#vote1-1.form-check-input(type="radio" name="vote1" value="option1")
                            label.form-check-label(for="vote1-1")
                                span 同意
                        .form-check
                            input#vote1-2.form-check-input(type="radio" name="vote1" value="option2")
                            label.form-check-label(for="vote1-2")
                                span 沒意見
                        .form-check
                            input#vote1-3.form-check-input(type="radio" name="vote1" value="option3")
                            label.form-check-label(for="vote1-3")
                                span 不同意
            .d-flex.align-items-center.justify-content-center.pb-5
                .submit-button.no-icon.text-center.mx-3.disabled
                    span 上一步
                .submit-button.text-center.mx-3
                    button(type="submit") 下一步
    .vote-time.text-right
        i.icon-calendar.mr-2
        span.f-en 2021/01/20 08:00 - 2021/01/30 18:00