//- head.pug
meta(charset="utf-8")
title 
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(rel="icon" type="image/x-icon" href="styles/images/web-icon.ico")
//- font & icon
link(rel="stylesheet" type="text/css" href="styles/fonts/css/fontello.css")
link(href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700,900&display=swap" rel="stylesheet")
//- plugins
link(rel="stylesheet", href="styles/fonts/css/fontello.css")
link(rel="stylesheet" type="text/css" href="styles/plugins/bootstrap-reboot.min.css")
link(rel="stylesheet" type="text/css" href="styles/plugins/bootstrap.min.css")
block plugins-css
link(rel="stylesheet" type="text/css" href="styles/common.css")
block page-css
